node_modules
dist
.DS_Store
*.local
.env
.env.*
!.env.example
.vscode
.idea
.git

# Hardhat
artifacts/
cache/
typechain/
typechain-types/
coverage/
coverage.json

# Build files
build/
*.tsbuildinfo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
